body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,h2 {
    text-align: center;
    color: #333;
}

.container{
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(206, 206, 206, 0.713);
    justify-content: center;
    gap: 30px;
}

.container a {
    color: darkblue;
    text-decoration: none;

}
.container-lessons {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-lessons a{
    display: flex;
    margin: 10px;
}

#lesson-list a {
    padding: 0px;
    text-decoration: none;
    color: darkblue;
}
